{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		{# .text {
			display: none;
		} #}
		.btn-container {
			margin: auto;
			height: 44px;
			width: 166.23px;

		}
		a:active {
			color: #ffd323;
		}

		button {
			 user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			cursor: pointer;
			border: none;
			padding: 8px;
			font-size: 20px;
			color: white;
			font-family: cursive;
			box-sizing: border-box;
		}
		{# new css slider #}
		
          *{padding:0;margin:0;box-sizing:border-box;}
.wraper{width:100%; height:100vh; display:flex; align-items:center; padding:40px;} 
.owl-theme img{width:100%;min-height:200px;}
.owl-carousel .owl-prev, .owl-carousel .owl-next{position:absolute; top:40%; transform:translateY(-50%); background-color:#fff !important; color:#000 !important; font-size:1.5em !important; width:40px; height:40px; border-radius:100% !important; font-weight:bold; padding:15px !important; text-align:center; box-shadow:0px 0px 10px 0px #000;}
.owl-carousel .owl-prev:hover, .owl-carousel .owl-next:hover{box-shadow:0px 0px 0px 0px #000; background-color:red !important; color:#fff !important;}
.owl-carousel .owl-prev{left:-30px;}
.owl-carousel .owl-next{right:-30px;}
.owl-theme .owl-dots .owl-dot.active span{background:#d49c7b !important; width:25px; transition:0.2s ease-in-out;}
.owl-theme .owl-dots .owl-dot:hover span{background:#d49c7b !important; transition:0.2s ease-in-out;}
.owl-theme .owl-nav [class*=owl-]{
    color: #FFF;
    font-size: 14px;
    margin: 37px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-carousel .owl-prev:hover, .owl-carousel .owl-next:hover {	
    box-shadow: 0px 0px 0px 0px #000;
    background-color: #d49c7b !important;
    color: #fff !important;
}



/* Responsive design custom css */
@media only screen and (max-width:480px){
  .owl-theme .owl-dots .owl-dot{display:none;}
  .owl-carousel .owl-prev, .owl-carousel .owl-next{width:30px; height:30px; font-size:14px !important; top:45%; box-shadow:0px 0px 0px 0px #000;}
  .owl-carousel .owl-prev{left:0px;}
.owl-carousel .owl-next{right:0px;}
}
	</style>
{% endblock %}
{% block body %}
	<!--Page Header Start-->
		<!--Page Header Start-->
	<section class="page-header">
		<div class="page-header-bg" style="background-image: url({{asset('front/images/ain-bourja/IMG_5147ainborja.jpg')}});"></div>
		<div class="page-header__overly"></div>
		<div class="container">
			<div class="page-header__inner">
				<ul class="thm-breadcrumb list-unstyled" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
					<li>
						<a href="index.html">{{"Résidences"|trans({},"front")}}</a>
					</li>
					<li>
						<span>/</span>
					</li>
					<li>{{"Haut standing"|trans({},"front")}}</li>
				</ul>
				<h2 {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>{{"AIN BORJA"|trans({},"front")}}</h2>
			</div>
		</div>
	</section>
	<!--Page Header End-->

	<!--Values Two Start-->
	<section class="values-two">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
						<div {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<span class="section-title__tagline">{{"À PROPOS DU PROJET"|trans({},"front")}}</span>
							<h2 class="section-title__title">{{"AIN BORJA : l’apogée du haut standing à Casablanca"|trans({},"front")}}</h2>
						</div>
						<p class="values-two__text-1">{{"Riad al foutouh – Ain Borja est un projet au sein d’une résidence innovante alliant qualité et modernité à quelques minutes du centre tachefine Le projet est proche de toutes les commodités d’un lieu de vie de standing, et propose des appartements d’exception allant de 102 m² à 124 m² à partir de 780.000Dhs seulement, avec des prestations de meilleures qualités."|trans({},"front")}}</p>
						<div class="values-two__points-box">
						{# <ul class="list-unstyled values-two__points">
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Des appartements</p>
																																																																																							</div>
																																																																																						</li>
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Consistance : 2 à 3</p>
																																																																																							</div>
																																																																																						</li>
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Cuisine équipée</p>
																																																																																							</div>
																																																																																						</li>
																																																																																					</ul> #}
							{# <ul class="list-unstyled values-two__points values-two__points-two">
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Ascenseur SCHINDLER</p>
																																																																																							</div>
																																																																																						</li>
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Garage sous-sol</p>
																																																																																							</div>
																																																																																						</li>
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Proche de toutes</p>
																																																																																							</div>
																																																																																						</li>
																																																																																					</ul> #}
							{# <ul class="list-unstyled values-two__points values-two__points-three">
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>Magasin d’une</p>
																																																																																							</div>
																																																																																						</li>
																																																																																						<li>
																																																																																							<div class="icon">
																																																																																								<i class="fa fa-check"></i>
																																																																																							</div>
																																																																																							<div class="text">
																																																																																								<p>fashion</p>
																																																																																							</div>
																																																																																						</li>
																																																																																					</ul> #}
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="values-two__right">
						<div class="values-two__img">
							<img src="{{asset('front/images/resources/a_propos_ain_borja.png')}}" alt="Ain-borja-Riad-al-foutouh-salon-appartement-Casablanca">
						</div>
					</div>
				</div>
			</div>

	</section>
		<!--Values Two End-->


		<!--Brand One Start-->
		{# <section class="brand-one brand-three">
																								<div class="brand-one__wrap">
																									<div class="brand-one__shape-1 float-bob-y">
																										<img src="{{asset('front/img/brand-one-shape-1.png')}}" alt="">
																									</div>
																									<div class="brand-one__shape-2 float-bob-x">
																										<img src="{{asset('front/img/brand-one-shape-1.png')}}" alt="">
																									</div>
																									<div class="container">
																										<div class="row">
																											<div class="col-xl-12">
																												<div class="brand-one__inner">
																													<div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
																															                        "0": {
																															                            "spaceBetween": 30,
																															                            "slidesPerView": 2
																															                        },
																															                        "375": {
																															                            "spaceBetween": 30,
																															                            "slidesPerView": 2
																															                        },
																															                        "575": {
																															                            "spaceBetween": 30,
																															                            "slidesPerView": 3
																															                        },
																															                        "767": {
																															                            "spaceBetween": 50,
																															                            "slidesPerView": 4
																															                        },
																															                        "991": {
																															                            "spaceBetween": 50,
																															                            "slidesPerView": 5
																															                        },
																															                        "1199": {
																															                            "spaceBetween": 100,
																															                            "slidesPerView": 6
																															                        }
																															                    }}'>
																														<div class="swiper-wrapper">
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																															<div class="swiper-slide">
																																<img src="{{asset('front/img/brand-1-4.png')}}" alt="">
																															</div>
																															<!-- /.swiper-slide -->
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</section> #}
		<!--Brand One End-->

		<!--About Building Start-->
		<section class="about-building"> <div class="about-building__bg" style="background-image: url(asset{{('front/images/backgrounds/about-building-bg.png')}});"></div>
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6">
						<div class="about-building__left">
							<div class="about-building__img">
								<img src="{{asset('/front/images/resources/a_propos_appartement_ain_borja.png')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
						<div {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
								<span class="section-title__tagline">{{"À PROPOS DU PROJET"|trans({},"front")}}</span>
								<h2 class="section-title__title">{{"Des appartements conçus pour votre confort et bien-être ! "|trans({},"front")}}</h2>
							</div>
							<p class="about-building__text-1">{{"Le projet est proche de toutes les commodités d’un lieu de vie de haut standing, et propose des appartements d’exception allant de 102 m² à 124 m² à partir de 780.000Dhs seulement, avec des prestations de meilleures qualités."|trans({},"front")}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--About Building End-->

		<!--Video One Start-->
		<section class="video-one video-two">
			<div class="container" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
				<div class="video-one__img-box">
					<div class="video-one__bg" style="background-image: url({{asset('/front/images/ain-bourja/premier_pas.jpg')}});"></div>
					{# <div class="video-one__video-link">
																																																												<a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
																																																													<div class="video-one__video-icon">
																																																														<span class="fa fa-play"></span>
																																																														<i class="ripple"></i>
																																																													</div>
																																																												</a>
																																																											</div>
																																																											<div class="video-one__title">
																																																												<h3>{{"Our building"|trans({},"front")}}
																																																													<br>{{"video tour"|trans({},"front")}}</h3>
																																																											</div> #}
				</div>
			</div>
		</section>
		<!--Video One End-->

		<!--Amenities Start-->
		<section class="amenities">
			<div class="amenities__shape-1 img-bounce">
				<img src="/front/images/shapes/new-concept-two-shape-2.png" alt="">
			</div>
			<div class="container">
				<div class="section-title text-center" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
					<span class="section-title__tagline">{{"Faites le premier pas pour posséder votre maison de rêve à Casablanca DÉS aujourd’hui."|trans({},"front")}}</span>
					{# <h2 class="section-title__title">property amenities &
																																																												<br>
																																																												features</h2> #}
				</div>
				<div
					class="row">
					<!--Amenities Single Start-->
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
						<div class="amenities__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div class="amenities__icon">
								<span class="icon-town"></span>
							</div>
							<h3 class="amenities__title">
								<a>{{"STYLE DE VIE INTELLIGENT ET HIGH-TECH"|trans({},"front")}}</a>
							</h3>
							<div id="content">

								<p>{{"Il était une fois, dans le cœur effervescent de Casablanca, un style de vie où l’intelligence et la technologie fusionnent pour créer une expérience de résidence incomparable. Imaginez-vous dans un appartement de haut standing, où chaque détail est soigneusement pensé pour répondre aux besoins modernes. Cette histoire n’est pas une utopie, mais la réalité d’un style de vie intelligent et high-tech."|trans({},"front")}}.</p>
								<span id="text">{{"Pour les clients désirant trouver leur résidence de rêve à Casablanca, Riad Al Foutouh se positionne comme le partenaire idéal. Nous comprenons que l’achat d’un appartement haut de gamme va au-delà de l’aspect financier ; c’est une quête de confort, de sécurité, et d’une vie quotidienne facilitée par des technologies intelligentes. Cependant, la clé ne réside pas seulement dans le nom de Riad Al Foutouh, mais dans notre engagement à comprendre les aspirations de nos clients."|trans({},"front")}}</span>

								{# <p>{{"Il était une fois, dans le cœur effervescent de Casablanca, un style de vie où l'intelligence et la technologie fusionnent pour créer une expérience de résidence incomparable. Imaginez-vous dans un appartement de haut standing, où chaque détail est soigneusement pensé pour répondre aux besoins modernes. Cette histoire n'est pas une utopie, mais la réalité d'un style de vie intelligent et high-tech"|trans({},"front")}}.</p>
								<span class="text">{{"Pour les clients désirant trouver leur résidence de rêve à Casablanca, Riad Al Foutouh se positionne comme le partenaire idéal. 

									Nous comprenons que l'achat d'un appartement haut de gamme va au-delà de l'aspect financier ; c'est une quête de confort, de sécurité, et d'une vie quotidienne facilitée par des technologies intelligentes.
									Cependant, la clé ne réside pas seulement dans le nom de Riad Al Foutouh, mais dans notre engagement à comprendre les aspirations de nos clients."|trans({},"front")}}</span> #}

							</div>
							<div>
								<button class="thm-btn amenities__btn toggle-btn" data-target="text">{{"Voir Plus"|trans({},"front")}}</button>
							</div>
						</div>
					</div>
					<!--Amenities Single End-->
					<!--Amenities Single Start-->
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
						<div class="amenities__single">
							<div class="amenities__icon">
								<span class="icon-location"></span>
							</div>
							<h3 class="amenities__title">
								<a>{{"EMPLACEMENT ATTRACTIF"|trans({},"front")}}</a>
							</h3>
							<div id="content">

								<p>{{"Dans le tracé effervescent de la ville de Casablanca, existe une réalité où la sélection de l’emplacement façonne l’essence même d’un style de vie urbain. Imaginez-vous dans un quartier vibrant, à proximité de toutes les commodités, où chaque ruelle raconte une histoire et chaque coin de rue offre une expérience unique. Ce récit, bien loin d’être une chimère, décrit la réalité d’un emplacement attractif à Casablanca."|trans({},"front")}}.</p>
								<span id="text1">{{"Selon les dernières données immobilières de Casablanca, l’emplacement d’une résidence est un critère primordial pour les acheteurs avertis. La demande croissante pour des quartiers attractifs est motivée par une clientèle qui recherche un équilibre parfait entre la proximité des services essentiels, des espaces verts, et une accessibilité aisée aux principaux axes de la ville."|trans({},"front")}}</span>

								{# <p>{{"Dans le tracé effervescent de la ville de Casablanca, existe une réalité où la sélection de l'emplacement façonne l'essence même d'un style de vie urbain. Imaginez-vous dans un quartier vibrant, à proximité de toutes les commodités, où chaque ruelle raconte une histoire et chaque coin de rue offre une expérience unique. Ce récit, bien loin d'être une chimère, décrit la réalité d'un emplacement attractif à Casablanca."|trans({},"front")}}.</p>
								<span class="text">{{"Selon les dernières données immobilières de Casablanca, l'emplacement d'une résidence est un critère primordial pour les acheteurs avertis. La demande croissante pour des quartiers attractifs est motivée par une clientèle qui recherche un équilibre parfait entre la proximité des services essentiels, des espaces verts, et une accessibilité aisée aux principaux axes de la ville."|trans({},"front")}}</span> #}

							</div>
							<div>
								<button class="thm-btn amenities__btn toggle-btn" data-target="text">{{"Voir Plus"|trans({},"front")}}</button>
							</div>
						</div>
					</div>
					<!--Amenities Single End-->
					<!--Amenities Single Start-->
					<div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
						<div class="amenities__single">
							<div class="amenities__icon">
								<span class="icon-sustainable"></span>
							</div>
							<h3 class="amenities__title">
								<a>{{"BÂTIMENT ÉCO-CHIC"|trans({},"front")}}</a>
							</h3>
							<div id="content">
								<p class="amenities__text">{{"Les bâtiments éco-chic représentent une réponse à la demande croissante d’une vie haut de gamme associée à des choix écologiques. Cette tendance, observée dans le secteur immobilier, démontre un intérêt grandissant pour des résidences qui offrent à la fois le confort luxueux et une empreinte écologique réduite."|trans({},"front")}}</p>

								<span id="text2">{{"Riad Al Foutouh se positionne comme une référence dans cette niche ! Incarner un engagement envers la durabilité et l’élégance. Notre présence discrète dans le marché immobilier témoigne d’une approche où chaque bâtiment éco-chic devient un témoignage de notre engagement envers l’environnement."|trans({},"front")}}</span>
                            </div>


							<div>
								<button class="thm-btn amenities__btn toggle-btn" data-target="text">{{"Voir Plus"|trans({},"front")}}</button>
							</div>
						</div>
					</div>
					<!--Amenities Single End-->

				</div>
			</div>
		</section>
		<!--Amenities End-->

     <!--Services One Start-->
        <section class="services-one">
            <div class="services-one__shape-1 float-bob-x">
                <img src="{{asset('/front/images/shapes/new-concept-two-shape-1.png')}}" alt="">
            </div>
            <div class="services-one__shape-2 float-bob-x">
                <img src="{{asset('/front/images/shapes/new-concept-two-shape-2.png')}}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-12" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                        <div class="services-one__left">
                            <div {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                                <span class="section-title__tagline">{{"Équipements"|trans({},"front")}}</span>
                                <h2 class="section-title__title">{{"APPARTEMENTS LUXUEUX ET ÉPOUSTOUFLANTS, CONÇUS POUR LA VIE"|trans({},"front")}}</h2>
                            </div>
                            <div class="services-one__btn-box">
                                <a href="{{path('app_contact')}}" class="thm-btn services-one__btn">{{"Planifier une visite"|trans({},"front")}}</a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-residential"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"Superficie"|trans({},"front")}}</a></h3>
                                <p class="services-one__text">{{"Des appartements de 102 à 124 m²"|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-sustainable"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"Consistance"|trans({},"front")}} </a></h3>
                                <p class="services-one__text">{{"Consistance : 2 à 3 chambres + Salon, cuisine, 2 SDB"|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-world"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"Garage sous-sol "|trans({},"front")}}</a></h3>
                                <p class="services-one__text">{{"la garantie d’une sécurité optimale pour votre véhicule, alliée à la praticité d’un espace bien aménagé."|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="fas fa-search-dollar"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"Local commercial"|trans({},"front")}}</a></h3>
                                <p class="services-one__text">{{"Magasin d’une superficie minimale de 45 m²"|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-electric-appliance"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"ascenseur schindler"|trans({},"front")}}</a></h3>
                                <p class="services-one__text">{{"Garage sous-sol"|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}};">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-swimming-pool"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">{{"Accessibilité totale"|trans({},"front")}}</a></h3>
                                <p class="services-one__text">{{"Proche de toutes les commodités : écoles, mosquée, centres commerciaux, jardins…"|trans({},"front")}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                </div>
            </div>
        </section>
        <!--Services One End-->

		<!--Services One Start-->
		{# <section class="services-one">
			<div class="services-one__shape-1 float-bob-x">
				<img src="{{asset('/front/images/shapes/new-concept-two-shape-1.png')}}" alt="">
			</div>
			<div class="services-one__shape-2 float-bob-x">
				<img src="{{asset('/front/images/shapes/new-concept-two-shape-2.png')}}" alt="">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-12" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
						<div class="services-one__left">
							<div class="section-title text-left">
								<span class="section-title__tagline">{{"Équipements"|trans({},"front")}}</span>
								<h2 class="section-title__title">{{"APPARTEMENTS LUXUEUX ET ÉPOUSTOUFLANTS, CONÇUS POUR LA VIE"|trans({},"front")}}</h2>
							</div>
							<div class="services-one__btn-box">
								<a href="{{path('app_contact')}}" class="thm-btn services-one__btn">{{"Planifier une visite"|trans({},"front")}}</a>
							</div>
						</div>
					</div>
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
						<div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div class="services-one__single-inner">
								<div class="services-one__single-bg"></div>
								<div class="services-one__icon">
									<span class="icon-residential"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"Superficie"|trans({},"front")}}</a>
								</h3>
								<p class="services-one__text">{{"Des appartements de 102 à 124 m²"|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
						<div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div class="services-one__single-inner">
								<div class="services-one__single-bg"></div>
								<div class="services-one__icon">
									<span class="icon-sustainable"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"Consistance"|trans({},"front")}}
									</a>
								</h3>
								<p class="services-one__text">{{"Consistance : 2 à 3 chambres + Salon, cuisine, 2 SDB Cuisine équipée"|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
						<div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div class="services-one__single-inner">
								<div class="services-one__single-bg"></div>
								<div class="services-one__icon">
									<span class="icon-world"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"Garage sous-sol "|trans({},"front")}}</a>
								</h3>
								<p class="services-one__text">{{"la garantie d’une sécurité optimale pour votre véhicule, alliée à la praticité d’un espace bien aménagé."|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
						<div class="services-one__single" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
							<div class="services-one__single-inner">
								<div class="services-one__single-bg"></div>
								<div class="services-one__icon">
									<span class="icon-home-automation"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"Local commercial"|trans({},"front")}}</a>
								</h3>
								<p class="services-one__text">{{"Magasin d’une superficie minimale de 45 m²"|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
						<div class="services-one__single">
							<div class="services-one__single-inner">
								<div class="services-one__single-bg"></div>
								<div class="services-one__icon">
									<span class="icon-electric-appliance"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"ascenseur schindler"|trans({},"front")}}</a>
								</h3>
								<p class="services-one__text">{{"Garage sous-sol"|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
					<!--Services One Single Start-->
					<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
						<div class="services-one__single">
							<div class="services-one__single-inner">
								<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}};"></div>
								<div class="services-one__icon">
									<span class="icon-swimming-pool"></span>
								</div>
								<h3 class="services-one__title">
									<a>{{"Accessibilité totale"|trans({},"front")}}</a>
								</h3>
								<p class="services-one__text">{{"Proche de toutes les commodités : écoles, mosquée, centres commerciaux, jardins…"|trans({},"front")}}</p>
							</div>
						</div>
					</div>
					<!--Services One Single End-->
				</div>
			</div>
		</section> #}
		<!--Services One End-->



		<!--Gallery Three Start-->
		{# <section class="gallery-three mt-5">
			<div class="container" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
				<div class="gallery-three__title">
					<h3>{{"Voir la galerie de photos"|trans({},"front")}}</h3>
				</div>
				<div
					class="row">
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0001.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
							
							</div>
						</div>
					</div>
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0002.jpg')}}" alt="Ain_Borja-Riad-al-Foutouh-cuisine-appartement">
							
							</div>
						</div>
					</div>
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0003.jpg')}}" alt="Ain-borja-Riad-al-foutouh-salon-appartement-Casablanca">
							
							</div>
						</div>
					</div>
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0004.jpg')}}" alt="Ain-borja-Riad-al-foutouh-salon-appartement-Casablanca">
							
							</div>
						</div>
					</div>
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0005.jpg')}}" alt="Ain-borja-Riad-al-foutouh-cuisine-appartements-Casablanca">
							
							</div>
						</div>
					</div>
					
					<div class="col-xl-2 col-lg-3 col-md-6">
						<div class="gallery-three__single">
							<div class="gallery-three__img">
								<img
								src="{{asset('front/images/ain-bourja/im0006.jpg')}}" alt="Ain-borja-Riad-al-foutouh-salle-de-bain-appartements-Casablanca">
							
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section> #}

	<section class="gallery-three">
		<div class="container"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
			<div class="gallery-three__title">
				<h3>{{"Voir la galerie de photos"|trans({},"front")}}</h3>
			</div>
			<div class="row">
				 
      <div class="owl-carousel owl-theme image-slider1">
        <div class="item">
        <img src="{{asset('front/images/ain-bourja/im0001.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
        <div class="item">
        <img src="{{asset('front/images/ain-bourja/im0002.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
         <div class="item">
        <img src="{{asset('front/images/ain-bourja/im0003.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
         <div class="item">
          	<img src="{{asset('front/images/ain-bourja/im0004.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
         <div class="item">
           	<img src="{{asset('front/images/ain-bourja/im0005.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
        <div class="item">
          	<img src="{{asset('front/images/ain-bourja/im0006.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
		<div class="item">
          	<img src="{{asset('front/images/ain-bourja/im0007.jpg')}}" alt="Ain-borja-Riad-al-foutouh-chambre-appartements-Casablanca">
        </div>
      </div>
       
			</div>
		</div>
	</section>



		<!--Gallery Three End-->


			
		<section class="cta-two">
			<div class="cta-two__bg" data-jarallax data-speed="0.2" data-imgposition="50% 0%" style="background-image: url({{asset('/front/images/ain-bourja/contact.jpg')}});"></div>
			<div class="cta-two__inner">
				<h3 class="cta-two__title" {% set searchString = '/ar' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
					{{"ORGANISEZ VOTRE VISITE SUR PLACE"|trans({},"front")}}
				</h3>
				<p {% set searchString = '/ar' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %} class="cta-two__text">
					{{"Notre équipe commerciale vous acceuille 7j/7 du lundi au dimanche de 9h à 19h"|trans({},"front")}}
				</p>
				<div class="cta-two__btn-box" {% set searchString = '/ar' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar" {% endif %}>
					<a href="{{path('app_contact')}}" class="cta-two__btn thm-btn">
						{{"Contactez-nous"|trans({},"front")}}</a>
				</div>

			</div>
		</section>

	{% endblock %}

	{% block javascripts %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>

			$(document).ready(function() {
  				$(".toggle-btn").click(function() {
					
    				var elem = $(this); // Use $(this) to refer to the clicked button
    				var textContainer = elem.closest('.amenities__single').find('.text'); // Find .text within the same amenities__single container
    				if (elem.text() === "Voir Plus") {
      					// Show the text and change button text
      					textContainer.slideDown();
      					elem.text("Voir Moins");
    				} else {
      					// Hide the text and change button text
      					textContainer.slideUp();
      					elem.text("Voir Plus");
    				}
  				});

				$(".image-slider1").owlCarousel({
					
					margin:10,
					loop:true,
					autoplay:true,
					nav:true,
					navText:["←","→"],
					responsive:{
							0:{
								items:1
							},
							600:{
								items:3.5,
								merge:true,
													
							},
							1000:{
								items:5
							}
					}
					});
			});

		</script>
	{% endblock %}
