{% extends 'base.html.twig' %}


{% block stylesheets %}
	<style></style>
{% endblock %}
{% block body %}

	<!--Page Header Start-->
	<section class="page-header">
		<div class="page-header-bg" style="background-image: url({{asset('front/images/resources/banner_blog.png')}});"></div>
		<div class="page-header__overly"></div>
		<div class="container">
			<div class="page-header__inner"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
				<ul class="thm-breadcrumb list-unstyled">
					<li>
						<a href="index.html">{{"actualités"|trans({},"front")}}</a>
					</li>
					<li>
						<span>/</span>
					</li>
					<li>{{"tendances"|trans({},"front")}}</li>
				</ul>
				<h2>{{"blog"|trans({},"front")}}</h2>
			</div>
		</div>
	</section>
	<!--Page Header End-->

	<!--News Sidebar Start-->
	<div class="news-sidebar">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-7">
					<div class="news-sidebar__left">
						<div class="news-sidebar__content">
							<div class="news-sidebar__single">
								<div class="news-sidebar__img">
									<img src="{{asset('/front/images/resources/recherche_blog.png')}}" alt="achat-d-un-bien-locatif-blog">
									<div class="news-sidebar__date">
										<p>blog</p>
									</div>
								</div>
								<div class="news-sidebar__content-box">
									<ul class="list-unstyled news-sidebar__meta"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<li>
											<a href="news-details.html">
												<i class="fas fa-tag"></i>
												{{"Apartment"|trans({},"front")}}</a>
										</li>
										<li>
											<a href="news-details.html">
												<i class="fas fa-user-circle"></i>
												{{"by riad al foutouh"|trans({},"front")}}</a>
										</li>
									</ul>
									<h3 class="news-sidebar__title">
										<a href="news-details.html">{{"Que rechercher lors de l’achat d’un bien locatif (7 considérations)"|trans({},"front")}}</a>
									</h3>
									<p class="news-sidebar__text">{{"Savoir quoi rechercher lors de l’achat d’un bien locatif vous fera économiser du temps et de l’argent tout en réduisant le stress. Dans cet article, nous décrivons sept considérations que vous ne pouvez pas vous permettre de négliger."|trans({},"front")}}</p>
									<div class="news-sidebar__bottom">
										<a href="news-details.html" class="news-sidebar__read-more">{{"Read More"|trans({},"front")}}<span class="icon-right-arrow"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="news-sidebar__single">
								<div class="news-sidebar__img">
									<img src="{{asset('front/images/resources/categorie_blog.png')}}" alt="Tendances-de-limmobilier-maroc-blog">
									<div class="news-sidebar__date">
										<p>actualités</p>
									</div>
								</div>
								<div class="news-sidebar__content-box">
									<ul class="list-unstyled news-sidebar__meta" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<li>
											<a href="news-details.html">
												<i class="fas fa-tag"></i>
												{{"Apartment"|trans({},"front")}}</a>
										</li>
										<li>
											<a href="news-details.html">
												<i class="fas fa-user-circle"></i>
												{{"by Admin"|trans({},"front")}}</a>
										</li>
									</ul>
									<h3 class="news-sidebar__title" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<a href="news-details.html">{{"LES TENDANCES DE L’IMMOBILIER AU MAROC EN 2024 : CE QUE VOUS DEVEZ SAVOIR"|trans({},"front")}}</a>
									</h3>
									<p class="news-sidebar__text"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>{{"L’immobilier au Maroc évolue à un rythme effréné, et l’année 2024 promet d’apporter son lot de changements et d’opportunités. En tant que futur investisseur, propriétaire ou locataire, il est essentiel de rester informé sur les tendances qui façonneront le marché immobilier marocain cette année. Découvrez ce que vous devez savoir pour prendre des décisions éclairées."|trans({},"front")}}
									</p>
									<div class="news-sidebar__bottom" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<a href="news-details.html" class="news-sidebar__read-more">{{"Read More"|trans({},"front")}}<span class="icon-right-arrow"></span>
										</a>
									</div>
								</div>
							</div>
							<div class="news-sidebar__single">
								<div class="news-sidebar__img">
									<img src="{{asset('front/images/resources/section_blog.png')}}" alt="blog-infos-espaces-verts">
									<div class="news-sidebar__date">
										<p>blog</p>
									</div>
								</div>
								<div class="news-sidebar__content-box">
									<ul class="list-unstyled news-sidebar__meta"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<li>
											<a href="news-details.html">
												<i class="fas fa-tag"></i>
												{{"Apartment"|trans({},"front")}}</a>
										</li>
										<li {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
											<a href="news-details.html">
												<i class="fas fa-user-circle"></i>
												{{"by Admin"|trans({},"front")}}</a>
										</li>
									</ul>
									<h3 class="news-sidebar__title" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<a href="news-details.html">{{"La Demande Croissante pour les Espaces Verts : Un Changement de Paradigme Immobilier"|trans({},"front")}}</a>
									</h3>
									<p class="news-sidebar__text" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>{{"Dans une ère où le bien-être et la qualité de vie occupent une place prépondérante, la demande croissante pour les espaces verts transforme radicalement le paysage immobilier. Les acheteurs et locataires d’aujourd’hui accordent une importance particulière à la proximité des parcs et des zones vertes lors de la recherche de leur prochaine demeure. Découvrez comment cette tendance redéfinit notre perception de l’espace de vie."|trans({},"front")}}</p>
									<div class="news-sidebar__bottom">
										<a href="news-details.html" class="news-sidebar__read-more" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>{{"Read More"|trans({},"front")}}<span class="icon-right-arrow"></span>
										</a>
									</div>
									{# <div class="news-sidebar__bottom-box">
																			<div class="news-sidebar__bottom-box-icon">
																				<img src="assets/images/icon/news-sidebar-bottom-box-icon.png" alt="">
																			</div>
																			<p class="news-sidebar__bottom-box-text">There are many variations of
																															                                                passages of Lorem Ipsum available, but majority have suffered alteration
																															                                                in some form, by injected humour, or randomised words which don't look
																															                                                even slightly believable.</p>
																		</div> #}
									{# <div class="news-sidebar__delivering-services">
																			<div class="news-sidebar__delivering-services-icon">
																				<a href="news-details.html"><img src="assets/images/icon/news-sidebar__delivering-services-icon.png" alt=""></a>
																			</div>
																			<h3 class="news-sidebar__delivering-services-title">
																				<a href="news-details.html">Providing the best luxury apartments</a>
																			</h3>
																		</div> #}
									<div class="news-sidebar__load-more"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<a href="news-details.html" class="thm-btn news-sidebar__load-more-btn">{{"Load more posts"|trans({},"front")}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="sidebar">
						<div class="sidebar__single sidebar__search">
							<form action="#" class="sidebar__search-form">
								<input type="search" placeholder="recherche">
								<button type="submit">
									<i class="icon-magnifying-glass"></i>
								</button>
							</form>
						</div>
						<div class="sidebar__single sidebar__post"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
							<h3 class="sidebar__title">{{"consulter aussi"|trans({},"front")}}</h3>
							<ul class="sidebar__post-list list-unstyled">
								<li>
									<div class="sidebar__post-image">
										<img src="{{asset('front/images/resources/astuce_blog.jpg')}}" alt="blog-astuces-economiser-de-l'argent-achat-propriété">
									</div>
									<div class="sidebar__post-content" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<h3>
											<span class="sidebar__post-content-meta">
												<i class="fas fa-user-circle"></i>{{"Astuces"|trans({},"front")}}</span>
											<a href="news-details.html">{{"Les Astuces pour Économiser de l’Argent lors de l’Achat d’une Propriété"|trans({},"front")}}</a>
										</h3>
									</div>
								</li>
								<li>
									<div class="sidebar__post-image">
										<img src="{{asset('front/images/resources/faq_blog.png')}}" alt="faq-immobilier_maroc-casablanca">
									</div>
									<div class="sidebar__post-content"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<h3>
											<span class="sidebar__post-content-meta">
												<i class="fas fa-user-circle"></i>{{"FAQ"|trans({},"front")}}</span>
											<a href="news-details.html">{{"FAQs (Foire Aux Questions)"|trans({},"front")}}</a>
										</h3>
									</div>
								</li>
								<li>
									<div class="sidebar__post-image">
										<img src="{{asset('front/images/resources/actualite_blog.jpg')}}" alt="actualités-taxe-sur-profit-immobilier-maroc">
									</div>
									<div class="sidebar__post-content"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
										<h3>
											<span class="sidebar__post-content-meta">
												<i class="fas fa-user-circle"></i>{{"actualités"|trans({},"front")}}</span>
											<a href="news-details.html">
												{{"la Taxe sur le Profit Immobilier au Maroc : Un Guide avec Calculs Exemplifiés"|trans({},"front")}}</a>
										</h3>
									</div>
								</li>
							</ul>
						</div>
						<div class="sidebar__single sidebar__category" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
							<h3 class="sidebar__title">{{"Categories"|trans({},"front")}}</h3>
							<ul class="sidebar__category-list list-unstyled">
								<li>
									<a href="news-details.html">{{"Haut standing"|trans({},"front")}}<span class="icon-right-arrow"></span>
									</a>
								</li>
								<li class="active">
									<a href="news-details.html">{{"Moyen standing"|trans({},"front")}}<span class="icon-right-arrow"></span>
									</a>
								</li>
								<li>
									<a href="news-details.html">{{"LOGEMENT SOCIAL"|trans({},"front")}}<span class="icon-right-arrow"></span>
									</a>
								</li>
								{# <li>
																	<a href="news-details.html">
																		Deluxe Room<span class="icon-right-arrow"></span>
																	</a>
																</li>
																<li>
																	<a href="news-details.html">Property<span class="icon-right-arrow"></span>
																	</a>
																</li> #}
							</ul>
						</div>
						<div class="sidebar__single sidebar__tags"{% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
							<h3 class="sidebar__title">{{"Tags"|trans({},"front")}}</h3>
							<div class="sidebar__tags-list">
								<a href="#">{{"Residences"|trans({},"front")}}</a>
								<a href="#">{{"offres proffessionnelles"|trans({},"front")}}</a>
								<a href="#">{{"contact"|trans({},"front")}}</a>
								{# <a href="#">rooms</a>
																<a href="#">Luxury</a>
																<a href="#">Single property</a> #}
							</div>
						</div>
						{# <div class="sidebar__single sidebar__comments">
													<h3 class="sidebar__title">Comments</h3>
													<ul class="sidebar__comments-list list-unstyled">
														<li>
															<div class="sidebar__comments-icon">
																<i class="fas fa-comment"></i>
															</div>
															<div class="sidebar__comments-text-box">
																<p>A Wordpress Commenter
																	<br>
																	on Launch New Mobile App</p>
															</div>
														</li>
														<li>
															<div class="sidebar__comments-icon">
																<i class="fas fa-comment"></i>
															</div>
															<div class="sidebar__comments-text-box">
																<p>
																	<span>John Doe</span>
																	on Template:
																	<br>
																	Comments</p>
															</div>
														</li>
														<li>
															<div class="sidebar__comments-icon">
																<i class="fas fa-comment"></i>
															</div>
															<div class="sidebar__comments-text-box">
																<p>A Wordpress Commenter on
																	<br>
																	Launch New Mobile App</p>
															</div>
														</li>
														<li>
															<div class="sidebar__comments-icon">
																<i class="fas fa-comment"></i>
															</div>
															<div class="sidebar__comments-text-box">
																<p>
																	<span>John Doe</span>
																	on Template:
																	<br>
																	Comments</p>
															</div>
														</li>
													</ul>
												</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--News Sidebar End-->

{% endblock %}
{% block javascripts %}
	 <script></script>
{% endblock %}
