{% extends 'base.html.twig' %}


{% block stylesheets %}
	<style>

		.services-three__single {
			position: relative;
			display: block;
			border: 1px solid #ebe8e4;
			padding: 38px 38px 32px;
			margin-bottom: 30px;
			height: 60vh;
		}

		.services-one__single-inner {
			height: 60vh;
		}
	</style>
{% endblock %}
{% block body %}
	<!--Page Header Start-->
	<section class="page-header">
		<div class="page-header-bg" style="background-image: url({{asset('front/images/backgrounds/page-header-bg.jpg')}});"></div>
		<div class="page-header__overly"></div>
		<div class="container">
			<div class="page-header__inner">
				<ul class="thm-breadcrumb list-unstyled">
					<li>
						<a href="index.html">Résidences</a>
					</li>
					<li>
						<span>/</span>
					</li>
					<li>Moyen standing</li>
				</ul>
				<h2>LES JARDINS DE LA FORET</h2>
			</div>
		</div>
	</section>
	<!--Page Header End-->
		

	<!--New Concept Two Start-->
	<section class="new-concept-two">
		<div class="new-concept-two__shape-1 float-bob-y">
			<img src="{{asset('front/images/shapes/new-concept-two-shape-1.png')}}" alt="">
		</div>
		<div class="new-concept-two__shape-2 float-bob-x">
			<img src="{{asset('front/images/shapes/new-concept-two-shape-2.png')}}" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6">
					<div class="new-concept-two__left">
						<div class="section-title text-left">
							<span class="section-title__tagline">by Riad al foutouh</span>
							<h2 class="section-title__title">Projet La forêt : Rompez avec le stress de la ville !
							</h2>
						</div>
						<p class="new-concept__text">Le Projet les Jardins de la Forêt de Riad al foutouh - Mohammedia est composé d’immeubles en R+4 et propose des appartements spacieux d’une superficie variant entre 80 et 100 m², comprenant 3 chambres + salon et une cuisine équipée.
						</p>
						<ul class="new-concept__points list-unstyled">
							<li>
								<div class="icon">
									<span class="icon-manhattan"></span>
								</div>
								<div class="text">
									<h3>Un projet immobilier neuf, fermé et sécurisé</h3>
									<p>Des résidences de standing élevé, alliant sécurité et modernité dans un environnement fermé. L'avenir de votre confort commence ici.
									</p>
								</div>
							</li>
							<li>
								<div class="icon">
									<span class="icon-apartment-1"></span>
								</div>
								<div class="text">
									<h3>Un projet immobilier moderne fonctionnelle et optimisée</h3>
									<p>Notre projet immobilier redéfinit la notion d'habitat moderne. Des espaces fonctionnels, une esthétique contemporaine et une flexibilité inégalée créent un environnement qui évolue avec vous.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-7 col-lg-6">
					<div class="new-concept-two__right">
						<div class="new-concept-two__img">
							<img src="{{asset('/front/images/resources/new-concept-two-img-1.jpg')}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--New Concept Two End-->

	<!--CTA Two Start-->
	<section class="cta-two cta-four">
		<div class="cta-two__bg" data-jarallax data-speed="0.2" data-imgposition="50% 0%" style="background-image: url({{asset('/front/images/resources/new-concept-two-img-1.jpg')}});"></div>
		<div
			class="cta-two__inner">
			{# <h3 class="cta-two__title">Schedule a building visit</h3> #}
			<p class="cta-two__text">Profitez d’une situation exceptionnelle dans une zone en plein développement et à seulement quelques minutes de la plage et de la forêt, tout en bénéficiant d’un accès facile à de nombreuses commodités situées à proximité.</p>
			{# <div class="cta-two__btn-box">
						                    <a href="contact.html" class="cta-two__btn thm-btn">Send a request</a>
						                </div> #}
		</div>
	</section>
	<!--CTA Two End-->

	<!--Services One Start-->
	<section class="services-one">
		<div class="services-one__shape-1 float-bob-x">
			<img src="assets/images/shapes/services-one-shape-1.png" alt="">
		</div>
		<div class="services-one__shape-2 float-bob-x">
			<img src="assets/images/shapes/services-one-shape-2.png" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-12">
					<div class="services-one__left">
						<div class="section-title text-left">
							<span class="section-title__tagline">Équipements</span>
							<h2 class="section-title__title">RÉSIDENCES SOMPTUEUSES ET IMPRESSIONNANTES, PENSÉES POUR UNE VIE D'EXCEPTION</h2>
						</div>
						<div class="services-one__btn-box">
							<a href="services.html" class="thm-btn services-one__btn">planifier une visite</a>
						</div>
					</div>
				</div>
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-residential"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">Superficie</a>
							</h3>
							<p class="services-one__text">Des appartements de 80 à 100 m²</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-sustainable"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">Consistance
								</a>
							</h3>
							<p class="services-one__text">3 chambres + Salon, cuisine, 2 SDB, balcon</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-world"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">Parking</a>
							</h3>
							<p class="services-one__text">la garantie d'une sécurité optimale pour votre véhicule, alliée à la praticité d'un espace bien aménagé.</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-home-automation"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">LOcal commercial</a>
							</h3>
							<p class="services-one__text">pour des opportunités professionnelles remarquables</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-electric-appliance"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">Ascenseur SCHINDLER
								</a>
							</h3>
							<p class="services-one__text">There are many new ways of text.</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
				<!--Services One Single Start-->
				<div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
					<div class="services-one__single">
						<div class="services-one__single-inner">
							<div class="services-one__single-bg" style="background-image: url({{asset('/front/images/backgrounds/services-one-single-bg.jpg')}});"></div>
							<div class="services-one__icon">
								<span class="icon-swimming-pool"></span>
							</div>
							<h3 class="services-one__title">
								<a href="services.html">piscine , jardin et Cuisine équipée</a>
							</h3>
							<p class="services-one__text">There are many new ways of text.</p>
						</div>
					</div>
				</div>
				<!--Services One Single End-->
			</div>
		</div>
	</section>
	<!--Services One End-->

	<!--CTA Two Start-->
	<section class="cta-two cta-four">
		<div class="cta-two__bg" data-jarallax data-speed="0.2" data-imgposition="50% 0%" style="background-image: url({{asset('/front/images/resources/cta-two-bg-img-1.jpg')}});"></div>
		<div class="cta-two__inner">
			<h3 class="cta-two__title">Organisez votre visite sur place</h3>
			<p class="cta-two__text">notre equipe commerciale vous acceuille 7j/7 du lundi au dimanche de 9h à 19h
			</p>
			<div class="cta-two__btn-box">
				<a href="contact.html" class="cta-two__btn thm-btn">reserver maintenant</a>
			</div>
		</div>
	</section>
	<!--CTA Two End-->
	<!--Services Three Start-->
	<section class="services-three">
		<div class="container">
			<div class="section-title text-center">
				<span class="section-title__tagline">oiur services</span>
				<h2 class="section-title__title">outstanding luxury</h2>
			</div>
			<div
				class="row">
				<!--Services Three Single Start-->
				<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
					<div class="services-three__single">
						<h3 class="services-three__title">
							<a href="services.html">Smart living</a>
						</h3>
						<ul class="list-unstyled services-three__list">
							<li>
								<div class="">
									<i class="far fa-check-circle"></i>
								</div>
								<div class="text">
									<p>Qu’il s’agisse des magasins situés sur le boulevard ou sur l’allée piétonne, cœur battant du projet, ils bénéficieront tous d’un flux de clientèle important et viendront répondre à la demande élevée de commerces de proximité pour les futurs résidents du projet les jardins de la forêt.
									</p>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<!--Services Three Single End-->
				<!--Services Three Single Start-->
				<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
					<div class="services-three__single">
						<h3 class="services-three__title">
							<a href="services.html">All amenities</a>
						</h3>
						<ul class="list-unstyled services-three__list">
							<li>
								<div class="">
									<i class="far fa-check-circle"></i>
								</div>
								<div class="text">
									<p>À l’entrée de Mohammedia et à seulement 5 min de la forêt, Les jardins de la forêt se situe dans un quartier dynamique et en plein essor qui garantira la prospérité de votre activité.</p>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<!--Services Three Single End-->
				<!--Services Three Single Start-->
				<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
					<div class="services-three__single">
						<h3 class="services-three__title">
							<a href="services.html">Modern technology</a>
						</h3>
						<ul class="list-unstyled services-three__list">
							<li>
								<div class="">
									<i class="far fa-check-circle"></i>
								</div>
								<div class="text">
									<p>Le projet les jardins de la forêt de Riad Al foutouh vous propose également votre futur local commercial à Mohammedia d’une superficie minimale de 27 m².</p>
								</div>
							</li>

						</ul>
					</div>
				</div>

				{# <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
								                        <div class="services-three__single">
								                            <h3 class="services-three__title"><a href="services.html">Attractive location</a></h3>
								                            <ul class="list-unstyled services-three__list">
								                                <li>
								                                    <div class="icon">
								                                        <i class="fa fa-check"></i>
								                                    </div>
								                                    <div class="text">
								                                        <p>24-hour Reception</p>
								                                    </div>
								                                </li>
								                                <li>
								                                    <div class="icon">
								                                        <i class="fa fa-check"></i>
								                                    </div>
								                                    <div class="text">
								                                        <p>Check in-out</p>
								                                    </div>
								                                </li>
								                                <li>
								                                    <div class="icon">
								                                        <i class="fa fa-check"></i>
								                                    </div>
								                                    <div class="text">
								                                        <p>Breakfast Buffet</p>
								                                    </div>
								                                </li>
								                                <li>
								                                    <div class="icon">
								                                        <i class="fa fa-check"></i>
								                                    </div>
								                                    <div class="text">
								                                        <p>Lunch from 11.00</p>
								                                    </div>
								                                </li>
								                                <li>
								                                    <div class="icon">
								                                        <i class="fa fa-check"></i>
								                                    </div>
								                                    <div class="text">
								                                        <p>Dinner from 17.30</p>
								                                    </div>
								                                </li>
								                            </ul>
								                        </div>
								                    </div> #}
				<!--Services Three Single End-->
			</div>
		</div>
	</section>
	<!--Services Three End-->

{% endblock %}

{% block javascripts %}
	 <script></script>
{% endblock %}
