{% extends 'base.html.twig' %}

{% block title %}Hay Naim
{% endblock %}

{% block stylesheets %}
    <style>
        p {
            margin: 0;
            font-size: 13px;
            line-height: 17px;
        }

        .section-title__title {
            margin: 0;
            color: var(--alipes-black);
            font-size: 23px;
            line-height: 50px;
            font-weight: 500;
            margin-top: 0px;
            text-transform: uppercase;
        }

        .services-three__list li .icon {
            width: 60px;
        }

        .services-three__single {
            height: 35vh;
        }

        .services-one__single-inner {
            height: 50vh;
        }

    </style>
    

{% endblock %}

{% block body %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({{asset('front/images/backgrounds/page-header-bg.jpg')}});">
            </div>
            <div class="page-header__overly"></div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Résidences</a></li>
                        <li><span>/</span></li>
                        <li>LOGEMENT SOCIAL</li>
                    </ul>
                    <h2>Hay Naim</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--New Concept Two Start-->
        <section class="new-concept-two">
            <div class="new-concept-two__shape-1 float-bob-y">
                <img src="{{asset('front/images/shapes/new-concept-two-shape-1.png')}}" alt="">
            </div>
            <div class="new-concept-two__shape-2 float-bob-x">
                <img src="{{asset('front/images/shapes/new-concept-two-shape-2.png')}}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="new-concept-two__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">by Riad al foutouh</span>
                                <h2 class="section-title__title" style="font-size:">Hay Naim : en dehors de la ville au cœur de la vie ! </h2>
                            </div>
                            <p class="new-concept__text">Hay Naim est un quartier d’habitation situé aux alentours de Casablanca jouissant d’une position stratégique sur la route nationale N9 et d’un environnement d’exception. Le projet comprend une offre composée d’appartements prêts à être livrés de 3 chambres+ salon avec parking sous-sol et dans des résidences surveillées 24/24H, le tout dans un environnement exceptionnel et entouré de divers équipements de proximité : Marché central, une mosquée, des écoles, des crèches, hammam….</p>
                            <ul class="new-concept__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-manhattan"></span>
                                    </div>
                                    <div class="text">
                                        <h3>Sécurité et Harmonie Naturelle :</h3>
                                        <p>Ce projet immobilier propose des logements neufs de standing moyen à Tit Mellil Casablanca, offrant une résidence élégante et moderne.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-apartment-1"></span>
                                    </div>
                                    <div class="text">
                                        <h3>Standing Moyen Élégant :</h3>
                                        <p>La résidence se distingue par son caractère fermé et sécurisé, assurant la tranquillité d'esprit des résidents. En plus de cela, elle offre un cadre de vie reposant, établissant un équilibre parfait entre le rythme citadin et la proximité avec la nature. Cette harmonie entre sécurité et nature crée une atmosphère résidentielle unique et agréable. 
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="new-concept-two__right">
                            <div class="new-concept-two__img">
                                <img src="{{asset('front/images/resources/new-concept-two-img-1.jpg')}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--New Concept Two End-->
        <section>
            <div class="container text-center p-4">
                <p>La résidence vous offre des appartements avec une architecture moderne et optimisée, répondant aux normes de construction et de finition.</p>
            </div>
        </section>
        <!--Brand One Start-->
        <section class="brand-one brand-three">
            <div class="brand-one__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="brand-one__inner">
                                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                        "0": {
                            "spaceBetween": 30,
                            "slidesPerView": 2
                        },
                        "375": {
                            "spaceBetween": 30,
                            "slidesPerView": 2
                        },
                        "575": {
                            "spaceBetween": 30,
                            "slidesPerView": 3
                        },
                        "767": {
                            "spaceBetween": 50,
                            "slidesPerView": 4
                        },
                        "991": {
                            "spaceBetween": 50,
                            "slidesPerView": 5
                        },
                        "1199": {
                            "spaceBetween": 100,
                            "slidesPerView": 6
                        }
                    }}'>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-1.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-2.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-3.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-4.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-5.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-6.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-1.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-2.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-3.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-4.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-5.png')}}" alt="">
                                        </div><!-- /.swiper-slide -->
                                        <div class="swiper-slide">
                                            <img src="{{asset('front/images/brand/brand-1-6.png')}} " alt="">
                                        </div><!-- /.swiper-slide -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Brand One End-->    

                <!--Services One Start-->
        <section class="services-one">
            <div class="services-one__shape-1 float-bob-x">
                <img src="assets/images/shapes/services-one-shape-1.png" alt="">
            </div>
            <div class="services-one__shape-2 float-bob-x">
                <img src="assets/images/shapes/services-one-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <div class="services-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Équipements</span>
                                <h2 class="section-title__title">Résidences Harmonieuses : Accessibilité, Confort et Qualité de Vie Exceptionnels.</h2>
                            </div>
                            <div class="services-one__btn-box">
                                <a href="services.html" class="thm-btn services-one__btn">planifier une visite</a>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-residential"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Superficie</a></h3>
                                <p class="services-one__text">Des appartements de 51 à 74 m²</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-sustainable"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Consistance</a></h3>
                                <p class="services-one__text">3 chambres + Salon, cuisine, 2 SDB, balcon</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-world"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Parking</a></h3>
                                <p class="services-one__text">la garantie d'une sécurité optimale pour votre véhicule, alliée à la praticité d'un espace bien aménagé.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url(assets/images/backgrounds/services-one-single-bg.jpg);">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-home-automation"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Local commercial</a></h3>
                                <p class="services-one__text">Magasin d’une superficie minimale de 39 m²</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url({{asset('front/images/backgrounds/services-one-single-bg.jpg')}});">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-electric-appliance"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Cuisine équipée</a></h3>
                                <p class="services-one__text"></p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="services-one__single">
                            <div class="services-one__single-inner">
                                <div class="services-one__single-bg"
                                    style="background-image: url({{asset('front/images/backgrounds/services-one-single-bg.jpg')}});">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-swimming-pool"></span>
                                </div>
                                <h3 class="services-one__title"><a href="services.html">Accessibilité totale</a></h3>
                                <p class="services-one__text">Proche de toutes les commodités : écoles, mosquée, centres commerciaux, jardins…</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                </div>
            </div>
        </section>
        <!--Services One End-->

                <!--CTA Two Start-->
        <section class="cta-two cta-four">
            <div class="cta-two__bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                style="background-image: background-image: url({{asset('front/images/resources/cta-two-bg-img-1.jpg')}});"></div>
            <div class="cta-two__inner">
                <h3 class="cta-two__title">Organisez votre visite sur place</h3>
                <p class="cta-two__text">notre equipe commerciale vous acceuille 7j/7 du lundi au dimanche de 9h à 19h </p>
                <div class="cta-two__btn-box">
                    <a href="contact.html" class="cta-two__btn thm-btn">reserver maintenant</a>
                </div>
            </div>
        </section>
        <!--CTA Two End-->
        
                <!--Services Three Start-->
        <section class="services-three">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">OFFRES PROFESSIONNELLES</span>
                    <h2 class="section-title__title">Des commerces pour investir !</h2>
                </div>
                <div class="row">
                    <!--Services Three Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="services-three__single">
                            {# <h3 class="services-three__title"><a href="services.html">Smart living</a></h3> #}
                            <ul class="">
                                <li>
                                    <div class="text">
                                        <p>Le projet les jardins de la forêt de Riad Al foutouh vous propose également votre futur local commercial à Mohammedia d’une superficie minimale de 27 m².</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Services Three Single End-->
                    <!--Services Three Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="services-three__single">
                            {# <h3 class="services-three__title"><a href="services.html">All amenities</a></h3> #}
                            <ul class="">
                                <li>
                                    <div class="text">
                                        <p>À l’entrée de Mohammedia et à seulement 5 min de la forêt, Les jardins de la forêt se situe dans un quartier dynamique et en plein essor qui garantira la prospérité de votre activité.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Services Three Single End-->
                    <!--Services Three Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="services-three__single">
                            {# <h3 class="services-three__title"><a href="services.html">Modern technology</a></h3> #}
                            <ul class="">
                                <li>
                                    <div class="text">
                                        <p>Qu’il s’agisse des magasins situés sur le boulevard ou sur l’allée piétonne, cœur battant du projet, ils bénéficieront tous d’un flux de clientèle important et viendront répondre à la demande élevée de commerces de proximité pour les futurs résidents du projet les jardins de la forêt.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Services Three Single End-->
                </div>
            </div>
        </section>
        <!--Services Three End-->

{% endblock %}
