{% extends 'base.html.twig' %}

{% block title %}Résidences
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url({{asset('/front/images/resources/banner_appartement.png')}})">
            </div>
            <div class="page-header__overly"></div>
            <div class="container" {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">{{"Offres"|trans({},"front")}}</a></li>
                        <li><span>/</span></li>
                        <li>{{"Résidences"|trans({},"front")}}</li>
                    </ul>
                    <h2>{{"Appartements"|trans({},"front")}}</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

                <!--Apartments Two Page Start-->
        <section class="apartments-two-page">
            <div class="container">
                <div class="row">
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_1.png')}}" alt="Ain-Borja-Appartements-Riad-Al-Foutouh-Casablanca">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('app_ainborja')}}">{{"AIN BORJA"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('app_ainborja')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">102 à 124 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_2.png')}}" alt="Salam-Riad-Al-Foutouh-Casablanca-Salon-appartements ">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('app_salam')}}">{{"SALAM"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('app_salam')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">80 à 100 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_3.png')}}" alt="Les-jardins-de-la-foret-Riad-al-foutouh-Mohammedia-Residence">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('app_jardinsforet')}}">{{"LES JARDINS DE LA FORêT"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('app_jardinsforet')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">80 à 100 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_4.png')}}" alt="La-Rocade-Riad-Al-Foutouh-Residence-appartements-Casablanca">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('jardinrocad')}}">{{"les jardins de LA ROCADE"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('jardinrocad')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">60 à 67 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_5.png')}}" alt="La-verdure-de-Lissassfa-Riad-al-foutouh-Casablanca-appartement-chambre-à-coucher">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('verdurelissassfa')}}">{{"LA VERDURE DE LISASSFA"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('verdurelissassfa')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">10 à 205 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                    <!--Apartment One Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="apartment-one__single"  {% set searchString = '/ar/' %} {% if searchString in app.request.uri %} dir="rtl" lang="ar"{% endif %}>
                            <div class="apartment-one__img-box">
                                <div class="apartment-one__img">
                                    <img src="{{asset('front/images/resources/appartement_6.png')}}" alt="Naim-Riad-al-Foutouh-Chambre-appartement-Casablanca">
                                </div>
                                <div class="apartment-one__content">
                                    <div class="apartment-one__title-box">
                                        <h3 class="apartment-one__title"><a href="{{path('naim')}}">{{"HAY NAIM"|trans({},"front")}}</a></h3>
                                    </div>
                                    <div class="apartment-one__arrow">
                                        <a href="{{path('naim')}}"><span class="icon-right-arrow"></span></a>
                                    </div>
                                </div>
                                <div class="apartment-one__btn-box">
                                    <p class="thm-btn apartment-one__btn">51 à 74 m2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Apartment One Single End-->
                </div>
            </div>
        </section>
        <!--Apartments Two Page End-->


{% endblock %}
