<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}Home One || alipes || alipes HTML 5 Template
			{% endblock %}
		</title>


		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('front/images/favicons/apple-touch-icon.png')}}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('front/images/favicons/favicon-32x32.png')}}"/>
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('front/images/favicons/favicon-16x16.png')}}"/>
		<link rel="manifest" href="{{asset('front/images/favicons/site.webmanifest')}}"/>
		<meta name="description" content="alipes HTML 5 Template "/>

		<link
		href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="{{asset('front/vendors/bootstrap/css/bootstrap.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/animate/animate.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/animate/custom-animate.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/fontawesome/css/all.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/jarallax/jarallax.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/jquery-magnific-popup/jquery.magnific-popup.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/nouislider/nouislider.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/nouislider/nouislider.pips.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/odometer/odometer.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/swiper/swiper.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/alipes-icons/style.css')}}">
		<link rel="stylesheet" href="{{asset('front/vendors/tiny-slider/tiny-slider.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/reey-font/stylesheet.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/owl-carousel/owl.carousel.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/owl-carousel/owl.theme.default.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/bxslider/jquery.bxslider.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/bootstrap-select/css/bootstrap-select.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/vegas/vegas.min.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/vendors/jquery-ui/jquery-ui.css')}}"/>
		<link
		rel="stylesheet" href="{{asset('front/vendors/timepicker/timePicker.css')}}"/>

		<!-- template styles -->
		<link rel="stylesheet" href="{{asset('front/css/alipes.css')}}"/>
		<link rel="stylesheet" href="{{asset('front/css/alipes-responsive.css')}}"/> {% block stylesheets %}{% endblock %}

		<header class="main-header">
			<div class="main-header__top">
				<div class="main-header__top-inner">
					<div class="main-header__top-left">
						<div class="main-menu__social">
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fab fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fab fa-pinterest-p"></i>
							</a>
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
						<p class="main-header__top-time">Mon to Sat: 8.00 am - 7.00 pm</p>
					</div>
					<div class="main-header__top-right">
						<ul class="list-unstyled main-header__contact-list">
							<li>
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="text">
									<p>30 Commercial Road Fratton, Australia
									</p>
								</div>
							</li>
							<li>
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="text">
									<p>
										<a href="mailto:needhelp@company.com">needhelp@company.com</a>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<nav class="main-menu">
				<div class="main-menu__wrapper">
					<div class="main-menu__wrapper-inner">
						<div class="main-menu__left">
							<div class="main-menu__logo">
								<a href="index.html"><img src="assets/images/resources/logo-1.png" alt=""></a>
							</div>
						</div>
						<div class="main-menu__main-menu-box">
							<a href="#" class="mobile-nav__toggler">
								<i class="fa fa-bars"></i>
							</a>
							<ul class="main-menu__list">
								<li class="dropdown current megamenu">
									<a href="index.html">Acceuil
									</a>
									{# <ul>
										<li class="current">
											<section class="home-showcase">
												<div class="container">
													<div class="home-showcase__inner">
														<div class="row">
															<div class="col-lg-3">
																<div class="home-showcase__item">
																	<div class="home-showcase__image">
																		<img src="assets/images/home-showcase/home-showcase-1-1.jpg" alt="">
																		<div class="home-showcase__buttons">
																			<a href="index.html" class="thm-btn home-showcase__buttons__item">Multi
																				                                                                                Page</a>
																			<a href="index-one-page.html" class="thm-btn home-showcase__buttons__item">One
																				                                                                                Page</a>
																		</div>
																		<!-- /.home-showcase__buttons -->
																	</div>
																	<!-- /.home-showcase__image -->
																	<h3 class="home-showcase__title">Home
																		                                                                        Page
																		                                                                        01</h3>
																	<!-- /.home-showcase__title -->
																</div>
																<!-- /.home-showcase__item -->
															</div>
															<!-- /.col-lg-3 -->
															<div class="col-lg-3">
																<div class="home-showcase__item">
																	<div class="home-showcase__image">
																		<img src="assets/images/home-showcase/home-showcase-1-2.jpg" alt="">
																		<div class="home-showcase__buttons">
																			<a href="index2.html" class="thm-btn home-showcase__buttons__item">Multi
																				                                                                                Page</a>
																			<a href="index2-one-page.html" class="thm-btn home-showcase__buttons__item">One
																				                                                                                Page</a>
																		</div>
																		<!-- /.home-showcase__buttons -->
																	</div>
																	<!-- /.home-showcase__image -->
																	<h3 class="home-showcase__title">Home
																		                                                                        Page
																		                                                                        02
																	</h3>
																	<!-- /.home-showcase__title -->
																</div>
																<!-- /.home-showcase__item -->
															</div>
															<!-- /.col-lg-3 -->
															<div class="col-lg-3">
																<div class="home-showcase__item">
																	<div class="home-showcase__image">
																		<img src="assets/images/home-showcase/home-showcase-1-3.jpg" alt="">
																		<div class="home-showcase__buttons">
																			<a href="index3.html" class="thm-btn home-showcase__buttons__item">Multi
																				                                                                                Page</a>
																			<a href="index3-one-page.html" class="thm-btn home-showcase__buttons__item">One
																				                                                                                Page</a>
																		</div>
																		<!-- /.home-showcase__buttons -->
																	</div>
																	<!-- /.home-showcase__image -->
																	<h3 class="home-showcase__title">Home
																		                                                                        Page
																		                                                                        03
																	</h3>
																	<!-- /.home-showcase__title -->
																</div>
																<!-- /.home-showcase__item -->
															</div>
															<!-- /.col-lg-3 -->
															<div class="col-lg-3">
																<div class="home-showcase__item">
																	<div class="home-showcase__image">
																		<img src="assets/images/home-showcase/home-showcase-1-4.jpg" alt="">
																		<div class="home-showcase__buttons">
																			<a href="index-dark.html" class="thm-btn home-showcase__buttons__item">View
																				                                                                                Page</a>
																		</div>
																		<!-- /.home-showcase__buttons -->
																	</div>
																	<!-- /.home-showcase__image -->
																	<h3 class="home-showcase__title">Home
																		                                                                        Page
																		                                                                        04
																	</h3>
																	<!-- /.home-showcase__title -->
																</div>
																<!-- /.home-showcase__item -->
															</div>
															<!-- /.col-lg-3 -->
														</div>
														<!-- /.row -->
													</div>
													<!-- /.home-showcase__inner -->

												</div>
												<!-- /.container -->
											</section>
										</li>
									</ul> #}
								</li>
								<li class="dropdown">
									<a href="about.html">Projets</a>
									<ul class="shadow-box">
										<li>
											<a href="services.html">Haut Standing</a>
										</li>
										<li>
											<a href="services.html">Moyen Standing</a>
										</li>
										<li>
											<a href="services.html">Logement Social</a>
										</li>
									</ul>	
								</li>
								<li class="dropdown">
							    	<a href="about.html">Offres Immobilières</a>
									<ul class="shadow-box">
										<li>
											<a href="services.html">Résidence</a>
										</li>
										<li>
											<a href="services.html">Offres Professionnelles</a>
										</li>
										 
									</ul>	
								</li >
								 <li >
							    	<a href="about.html">Blog</a>
								</li>
								 <li>
							    	<a href="about.html">Contacts</a>
								</li>
							</ul>
						</div>
						<div class="main-menu__right">
							<div class="main-menu__search-cart-btn">
								<div class="main-menu__search-cart-box">
									<div class="main-menu__search-box">
										<a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
									</div>
									<div class="main-menu__cart-box">
										<a href="cart.html" class="main-menu__cart icon-shopping-cart"></a>
									</div>
								</div>
								<div class="main-menu__btn-box">
									<a href="contact.html" class="thm-btn main-menu__btn">Schedule a Visit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		


		{% block body %}{% endblock %}


		<!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-x">
                <img src="{{asset('assets/img/shapes/site-footer-shape-1.png')}}" alt="">
            </div>
            <div class="container">
                <div class="site-footer__inner">
                    <div class="site-footer__top">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__about">
                                    <div class="footer-widget__logo">
                                        <a href="index.html"><img src="{{asset('/front/img/logo-2.png')}}"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__explore">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">MENU</h3>
                                    </div>
                                    <div class="footer-widget__explore-list-box">
                                        <ul class="footer-widget__explore-list list-unstyled">
                                            <li><a href="about.html">ACCEUIL</a></li>
                                            <li><a href="contact.html">PROJETS</a></li>
                                            <li><a href="the-building.html">OFFRES IMMOBILIÈRES</a></li>
                                            <li><a href="agents.html">BLOG</a></li>
                                            <li><a href="apartments.html">CONTACTS</a></li>
                                        </ul>
										
                                         
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__contact">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Contact</h3>
                                    </div>
                                    <p class="footer-widget__contact-text">30 Road Broklyn Street, 600 <br> New York,
                                        USA
                                    </p>
                                    <ul class="footer-widget__contact-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-telephone"></span>
                                            </div>
                                            <div class="text">
                                                <p><a href="tel:+9288006780">+92 ( 8800 ) - 6780</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__newsletter">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">newsletter</h3>
                                    </div>
                                    <form class="footer-widget__email-box">
                                        <div class="footer-widget__email-input-box">
                                            <input type="email" placeholder="Email Address" name="email">
                                        </div>
                                        <button type="submit"
                                            class="footer-widget__subscribe-btn thm-btn">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__bottom">
                        <div class="site-footer__bottom-inner">
                            <div class="site-footer__bottom-left">
                                <p class="site-footer__bottom-text">© All Copyright 2022 by <a href="#">Company.com</a>
                                </p>
                            </div>
                            <div class="site-footer__bottom-right">
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}


		 <script src="{{asset('front/vendors/jquery/jquery-3.6.0.min.js')}}"></script>
	 <script src="{{asset('front/vendors/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jarallax/jarallax.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-appear/jquery.appear.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-circle-progress/jquery.circle-progress.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-validate/jquery.validate.min.js')}}"></script>
		 <script src="{{asset('front/vendors/nouislider/nouislider.min.js')}}"></script>
		 <script src="{{asset('front/vendors/odometer/odometer.min.js')}}"></script>
		 <script src="{{asset('front/vendors/swiper/swiper.min.js')}}"></script>
		 <script src="{{asset('front/vendors/tiny-slider/tiny-slider.min.js')}}"></script>
		 <script src="{{asset('front/vendors/wnumb/wNumb.min.js')}}"></script>
		 <script src="{{asset('front/vendors/wow/wow.js')}}"></script>
		 <script src="{{asset('front/vendors/isotope/isotope.js')}}"></script>
		 <script src="{{asset('front/vendors/countdown/countdown.min.js')}}"></script>
		 <script src="{{asset('front/vendors/owl-carousel/owl.carousel.min.js')}}"></script>
		 <script src="{{asset('front/vendors/bxslider/jquery.bxslider.min.js')}}"></script>
		 <script src="{{asset('front/vendors/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
		 <script src="{{asset('front/vendors/vegas/vegas.min.js')}}"></script>
		 <script src="{{asset('front/vendors/jquery-ui/jquery-ui.js')}}"></script>
		 <script src="{{asset('front/vendors/timepicker/timePicker.js')}}"></script>
		 <script src="{{asset('front/vendors/circleType/jquery.circleType.js')}}"></script>
		 <script src="{{asset('front/vendors/circleType/jquery.lettering.min.js')}}"></script>
		<!-- template js -->
		 <script src="{{asset('front/js/alipes.js')}}"></script>
	</head>
</html>
